<h2><%= @test.description %></h2>
<p><%= @test.code %></p>

<h2>Solutions:</h2>
<% unless @solutions.empty? %>
<ul>
<% @solutions.each do |s| %>
<li>
	<%= link_to s.description, test_solution_path(@test.id, s.id) %>
	<%= s.code %>
</li>
<% end %>
</ul>
<% else %>
<p>No Solutions Yet</p>
<% end %>

<% if @test.collaborator_only %>
<%= link_to "Collaborate!", collaborations_path(collaborator_id: @test.user.id, test_id: @test.id), method: :post %>
<% else %>
<%= link_to "Write new solution", new_test_solution_path(@test.id) %>
<% end %>