<%= form_for @solution, url: test_solution_path(@test.id, @solution.id) do |s| %>
<p>
	<%= s.label :name %>
	<%= s.text_field :name %>
</p>
<p>
	<%= s.label :description %>
	<%= s.text_field :description %>
</p>
<p>
	<%= s.label :status %>
	<%= s.text_field :status %>
</p>
<p>
	<%= s.label :code %>
	<%= s.text_area :code %>
</p>
<p>
	<%= s.submit %>
</p>
<% end %>