<style>
.CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black;}
      .cm-s-default span.cm-arrow { color: red; }
</style>

<%= form_for @test do |t| %>
<p>
	<%= t.label :name %>
	<%= t.text_field :name %>
</p>
<p>
	<%= t.label :description %>
	<%= t.text_field :description %>
</p>
<p>
	<%= t.label :status %>
	<%= t.text_field :status %>
</p>
<p>
	<%= t.label :code %>
	<%= t.text_area :code %>
</p>
<p>
	<%= t.submit %>
</p>

<% end %>

<script>
  var editor = CodeMirror.fromTextArea(document.getElementById("test_code"), {
    mode: "text/x-ruby",
    matchBrackets: true,
    indentUnit: 4
  });
</script>