<div>
	<p>You may not require any files or gems. Your test will not run if you require something</p>
</div>
<div class="test">
<% if current_user.id == @solution.test.user_id %>
<%= render 'test_form' %>
<% else %>
<%= render 'display_test' %>
<% end %>
</div>

<div class="solution">
<% if current_user.id == @solution.user_id %>
<%= render 'solution_form' %>
<% else %>
<%= render 'display_solution' %>
<% end %>
</div>

<div class="output">
	<p><%= @solution.output_text %></p>
	<p><%= @solution.error_message %></p>
</div>

<%= link_to "Back to Tests", tests_path %>