<!DOCTYPE html>
<html>
<head>
  <title>ProjectUno</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="header">
		<div class="login">
			<% unless user_signed_in? %>
			<li><%= link_to "Log In", new_user_session_path %></li>
			<li><%= link_to "Register", new_user_registration_path %></li>
			<% else %>
			<li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
			<li><%= link_to "Delete Account", user_registration_path , method: :delete %></li>
			<% end %>
		</div>
		<div class="navbar">
			<ul>
				<li><%= link_to "Collaborators", my_collaborators_path %></li>
				<li><%= link_to "All Tests", tests_path %></li>
				<li><%= link_to "New Test", new_test_path %></li>
			</ul>
		</div>
	</div>

<%= yield %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
